body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    cursor: none; /* Oculta o cursor padrão */
}
  
.custom-cursor {
    position: absolute;
    width: 32px; /* Ajuste o tamanho conforme necessário */
    height: 32px;
    pointer-events: none; /* Permite clicar nos elementos abaixo */
    transform: translate(-50%, -50%); /* Centraliza o cursor na posição */
    z-index: 1000; /* Garante que fique acima de tudo */
}