
@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Quicksand:300|Railway');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  cursor: none;
}

ul{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

li{
  list-style: none;
  margin-right: 20px;
  text-decoration: none;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 20px;
  transition: transform 0.3s easy;
}

li:hover{
  background-color: lightblue;
  transform: scale(1.1);
}


