  footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    bottom: 0px;
  }
  
  footer p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  footer .social-links {
    margin-top: 10px;
  }
  
  footer .social-links a {
    margin: 0 10px;
    text-decoration: none;
  }
  
  footer .social-links img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  footer .social-links img:hover {
    transform: scale(1.2);
  }
  
  footer .rights {
    margin-top: 15px;
    font-size: 12px;
    color: #aaa;
  }
  
  footer .terms a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
  }
  
  footer .terms a:hover {
    text-decoration: underline;
    color: #f1c40f;
  }
  